body {
    margin: 0px;
    padding: 0px;
}

.card {
    display: inline-block;
    margin: 10px;
    width: 235px;
    border: 1px solid #ccc;
}

.image {
    width: 235px;
    height: 180px;
    background-color: #ccc;
    position: relative;
}

.img {
    width: 13%;
    display: block;
    margin: 0px auto;
    position: relative;
    top: 30px;
}

.title, .description {
    font-size: 0.8em;
    margin: 10px;
}