body {
    margin: 0px;
    padding: 0px;
}

.card {
    display: inline-block;
    margin: 10px;
    width: 235px;
    border: 1px solid #ccc;
}

.image {
    width: 235px;
    height: 180px;
    background-color: #ccc;
    position: relative;
}

.img {
    width: 13%;
    display: block;
    margin: 0px auto;
}

.title, .description {
    font-size: 0.8em;
    margin: 10px;
}

.favoriteIcon {
    position: relative;
    top: 10px;
    left: 10px;
    float: left;
}

.addToCartIcon {
    position: relative;
    top: 10px;
    left: 20px;
    float: left;
}

.infoIcon {
    position: relative;
    top: 10px;
    left: -10px;
    float: right;
}

.imageContainer {
    position: absolute;
    top: 40px;
    width: 235px;
    height: 180px;
}
