.MainContent {
    position: relative;
    margin: 0px auto;
    padding: 0px;
    width: 1380px;
}

.Cards {
    width: 1014px;
    float: left;
}

.NavigationMenu, .Footer {
    position: relative;
    left: 20px;
    width: 340px;
    float: left;
}

.NavigationMenu {
    top: 5px;
    height: 316px;
}