.Footer {
    width: 320px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    margin: 5px;
}

ul {
    list-style: none;
    width: 100%;
    position: relative;
    padding-left: 0px;
    margin: auto;
    text-align: center;
}

li {
    display: inline-block;
    margin: 10px;
}

.Icon {
    margin: 5px;
}