.Button {
    cursor: pointer;
}

th {
    text-align: center;
    font-size: 20px;
}

td:nth-child(3) {
    width: 25%;
}

td:nth-child(4) {
    text-align: justify;
}

.beerImage {
    width: 30%;
}

.beerName {
    width:30%;
}

td {
    text-align: center;
}

input {
    text-align: center;
    width: 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}